* {
  font-family: "Roboto", sans-serif !important;
}

/* configuracion general de todo el documento */
body {
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  overflow-x: hidden !important;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f7ecff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23efd9ff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23e7c5ff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23dfb2ff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23D79FFF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ff94f8' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ff88be' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ff817d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ffbb71' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

html {
  overflow-x: hidden !important ;
}

/* Fondo de color de la barra nav */
#navegacion {
  display: inline-block;
  position: fixed;
  background-color: #000000;
  padding: 20px;
  width: 100%;
  height: 60px;
  margin-top: -100px;
  z-index: 50;
  box-shadow: 0 0.1rem 0.4rem rgb(255, 252, 252);

  border-bottom-right-radius: 200px;
}

/*Alignacion de los enlaces en al barra de navegacion */

.nav_items {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Decoracion de los enlaces */

a {
  text-decoration: none;
  color: white;
}

a {
  transition: color 0.3s ease;
}

/* Sombrado de los enlaces */

a:hover {
  color: aqua;
}

/* Posicion de los enlaces dentro de la barra de navegacion */

.nav {
  display: inline-block;

  margin: 0px;
}

img {
  float: left;
}

.redes {
  width: 40px;
  height: 40px;
}

.imagen {
  width: 50px;
  height: 50px;
}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 900px) {
  .nav_items {
    padding: 2px;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 15px;
  }
}

@media (max-width: 650px) {
  .nav_items {
    padding: 3px;
    font-size: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 15px;
  }
}

/* configuracion de la pagina con la dinamca del cuerpo */

.flex_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(255, 255, 255);

  font-size: 2rem;
}

.flex_items {
  height: 800px;
  width: 100vw;
  flex-grow: 1;

  margin-top: 75px;
}

.flex_items span {
  position: relative;
  z-index: 4;
}

.encima span {
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin-top: 2rem;

  font-size: 25px;
}

.beach {
  height: 400px;
  width: 400px;
  margin-top: 40px;

  margin-left: 100px;
  border-radius: 50px;
  transition: box-shadow 0.3s ease;
}

.beach:hover {
  box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0);
}

.flex_portada {
  animation: desaparecer forwards;
  animation: aparecer 3s forwards;
  margin-top: 80px;
}

.flex_portada {
  text-align: center;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 5px;

  background-color: #ffffff90;
  border-radius: 50px;
  box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0);
}

@keyframes aparecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes desaparecer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* modificable para extilo de presentacion de la cabecera */

header {
  width: 100vw;
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 75px;
}
.cabecera > img {
  height: 400px;
  width: 100vw;
  object-fit: cover;
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

  box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0);
}

.texto_encima {
  position: absolute;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* seccion de home acordion */

.ac--container {
  width: 535px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  border: 7px solid rgba(2, 2, 2, 0.6);
  box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0);
}

.ac--container figure {
  position: absolute;
  top: 0;
  left: 50px; /* width of visible piece */
  width: 335px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ac--container > figure {
  position: relative;
  left: 0 !important;
}

.ac--container img {
  display: block;
  width: 100%;
  box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0);
}

.ac--container input {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px; /* just cover visible part */
  height: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.ac--container input:checked {
  width: 5px;
  left: auto;
  right: 0px;
}
.ac--container input:checked ~ figure {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  left: 335px;
}

.ac--container figcaption {
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ac--container figcaption span {
  position: absolute;
  top: 40%;
  margin-top: -30px;
  right: 20px;
  left: 20px;
  overflow: hidden;
  text-align: center;
  background: rgba(87, 73, 81, 0.3);
  line-height: 20px;
  font-size: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.ac--container input:checked + figcaption,
.ac--container input:checked:hover + figcaption {
  background: rgba(87, 73, 81, 0);
}

.ac--container input:checked + figcaption span {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: 1;

  top: 50%;
}

.ac--container #ia-selector-last:checked + figcaption span {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ac--container input:hover + figcaption {
  background: rgba(87, 73, 81, 0.03);
}

.ac--container input:checked ~ figure input {
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .ac--container {
    width: 540px;
  }

  .ac--container figure {
    left: 40px;
    width: 260px;
  }

  .ac--container input {
    width: 40px;
  }

  .ac--container input:checked ~ figure {
    left: 260px;
  }

  .ac--container figcaption span {
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  .ac--container {
    width: 320px;
  }

  .ac--container figure {
    left: 20px;
    width: 180px;
  }

  .ac--container input {
    width: 20px;
  }

  .ac--container input:checked ~ figure {
    left: 180px;
  }

  .ac--container figcaption span {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: -20px;
  }
}
figure {
  margin: 0;
}
html,
input {
  font-family: sans-serif;
}

/* animacion del header  */

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

header {
  -webkit-animation: kenburns-top 5s ease-out both;
  animation: kenburns-top 5s ease-out both;
}

/* ajustes de elementos centrales en pagina home */

section > img {
  width: 100%;
  margin-top: 20px;
}

/* implementacion pendiente */

/* 
.text-header{
   
    display: inline-block;
    font-size: 50px;
    color: rgb(249, 1, 170);

    z-index: 10;

    
  
}

 */

footer {
  display: inline-block;
  background-color: #000000;
  height: 250px;
  width: 100%;
  color: white;
  margin-top: 75px;
  box-shadow: 0 0.2rem 0.9rem rgb(0, 0, 0);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer_text {
  margin: 20px;

  text-align: center;
  font-size: 40px;
}

/* nuevo flex contenedor 3 para pestana de volcanes con su flex items  */

.flex_container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  background-color: #ffffff;
}

/* para imagenes en la pagina de park */

.flex_items3 img {
  /*oringen,final*/

  height: 400px;
  width: 400px;
  flex-direction: column;
  margin-top: 40px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;

  /*oringen que queremos animar o se puede usar all para animar todas los componentes de la etiqueta ,tiempo que durar, algoritmo de transicion ffinal puede ser ease o linear y hay otros con relacion al ease*/
  transition: box-shadow 0.3s ease;
}

.flex_items3 img:hover {
  /* derecha, hacia abajo deplazamiento de sombra, difuminacion, color */
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0);
}

.flex_items3 iframe {
  height: 500px;
  width: 500px;
  flex-direction: column;
  margin: 2px;
  margin-top: 40px;
  border-radius: 50px;
  box-shadow: 0 0.2rem 0.4rem black;
}

aside {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  justify-content: center;
  background-color: #fff;
}

aside > iframe {
  border-radius: 50px;
  width: 100%;
  margin: 20px;
  box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0);
}

/* este es el titlo que describe los link de la pagina oficial websites  */

.titulolinks {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  padding: 20px;
}

/* modificando la adpatacion a diferentes resoluciones en la pagina de surcity */

@media (max-width: 1700px) {
  .flex_items img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 900px) {
  .flex_items img {
    height: 100px;
    width: 100px;
    margin-left: 0px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .encima span {
    font-size: 15px;
    text-align: center;
    color: rgb(4, 4, 4);
  }
}

/* arreglando margen de los videos en mobiles pequeños de la pagina volcanes */

@media (max-width: 700px) {
  .container31 iframe {
    width: 450px;
    height: 450px;

    border-radius: 50px;
  }
}
